body {
    background: linear-gradient(#e66565, #3c416e);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#body {
    background: transparent;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

#bg {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url("./imgs/black-green_fade.jpg");
    opacity: 0;
}

#header-container {
    width: 100vw;
    height: 20vh;
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bexadasm {
    color: white;
    font-family: Courier, monospace;
    font-size: 50px;
}

/*.h1.e {
    font-family: Courier, monospace;
    font-size: 60px;
}*/

#start-container {
    width: 100vw;
    height: 80vh;
    position: absolute;
    top: 20vh;
    left: 0px;
}

.class {
    width: 70%;
    height: 23vh;
    position: relative;
    top: 0px;
    left: 15%;
    border-radius: 50px;
    background: transparent;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    transition: 250ms all;
}

.r1 {
    bottom: 3vh;
}

.r1:hover {
    background: #151010;
}

.r2 {
    top: 3vh;
}

.r2:hover {
    background: #151010;
}

.r3 {
    top: 6vh;
}

.r3:hover {
    background: #151010;
}

.diff {
    width: 20%;
    height: 80%;
    position: relative;
    top: 5%;
    left: 5%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px dashed rgb(75, 204, 9);
}

.diff-text {
    font-family: Courier, monospace;
    line-height: normal;
    color: rgb(75, 204, 0);
    font-size: 20px;
}

.info {
    width: 65%;
    height: 80%;
    position: absolute;
    top: 10%;
    right: 5%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.class-info-text {
    font-family: Courier, monospace;
    line-height: normal;
    color: rgb(75, 204, 0);
}

#info-container {
    width: 70%;
    height: 100%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background: white;
    position: absolute;
    top: 0px;
    left: 15%;
}

#text-container {
    width: 80%;
    height: 70%;
    position: relative;
    top: 10%;
    left: 10%;
    text-align: justify;
    text-justify: inter-word;
}

#button-start {
    width: 22%;
    height: 13%;
    background: #3c416e;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    position: relative;
    top: 2%;
    left: 39%;
    transition: 250ms all;
}

#button-start:hover {
    width: 24%;
    height: 15%;
    top: 1%;
    left: 38%;
    background: #e66465;
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes color-fade {
    0% {
        color: white;
    }
    100% {
        color: rgb(75, 204, 0);
    }
}
